<!-- views/partials/comment-bard.hbs -->
<div class="card">
    <div class="card-body px-2">
        <a href="/players/{{comment.playerId}}/comments/{{comment._id}}">
            <h5 class="card-title">{{comment.battletag}}</h5>
        </a>
        <p class="card-text">{{comment.content}}</p>
    </div>
</div>
