<!-- views/partials/comment-bard.hbs -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{comment.title}}</h5>
        <p class="card-text">{{comment.content}}</p>
        <a href="/players/{{coment.playerId}}/comments/{{comment._id}}"></a>
    </div>
</div>
