<div class="jumbotron">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">TeamLink is the newest way of connecting teams with players with a whole slew of features planned</p>
            <hr class="my-4">
        </div>
        <div class="col-sm-6 row">
            <div class="col-lg-6">
                <h2><i class="fas fa-users"></i> Teams</h2>
                <p>are able to find practice games easily with our Team LFG feature</p>
            </div>
            <div class="col-lg-6 m-auto">
                <a class="btn btn-primary disabled" href="/teams" role="button"><i class="fas fa-flag"></i> Create a Team</a>
            </div>
        </div>
        <div class="col-sm-6 row">
            <div class="col-lg-6">
                <h2><i class="fas fa-user"></i> Players</h2>
                <p>can easily advertise their availabilty to join a team with quick filtering for the teams</p>
            </div>
            <div class="col-lg-6 m-auto">
                <a class="btn btn-primary" href="/players/new" role="button"><i class="fas fa-bullhorn"></i> Advertise Yourself</a>
            </div>
        </div>
    </div>
</div>
