<!-- views/players-show.hbs -->
<div class="row">
    <div class="col-6">
        <a href="/players/{{player._id}}/edit" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
    </div>
    <div class="col-6 text-right">
        <form action="/players/{{player._id}}?_method=DELETE" method="POST">
            <button class="btn btn-warning" type="submit"><i class="fas fa-trash"></i> Delete</button>
        </form>
    </div>
    <div class="col-12">
        {{> player-card }}
    </div>
    <div class="col-6">
        <a href="/players/{{player._id}}/comments"><h2>Comments</h2></a>
    </div>
    <div class="col-6 text-right my-auto">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">New Comment</button>
    </div>
    <div class="col-12">
        <div class="row" id="comments">
            {{#each comments}}
            <div class="col-4">
                <a class="btn btn-warning deleteComment" data-comment-id="{{this._id}}"><i class="fas fa-trash"></i></a>
                {{> comment-card comment=this }}
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{> comment-modal playerId=player._id }}
