<!-- views/players-edit.hbs -->
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/players/{{player._id}}?_method=PUT" method="POST">
                <legend>Edit Player</legend>
                {{> player-fieldset }}
                <div class="form-group text-right">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
