<!-- views/players-new.hbs -->
<form action="/players" method="POST">
    <legend>New Player</legend>
    {{> player-fieldset }}
    <div class="form-group text-right">
        <button class="btn btn-primary" type="submit">Post</button>
    </div>
</form>
