<!-- views/players-edit.hbs -->
<form action="/players/{{player._id}}?_method=PUT" method="POST">
    <legend>Player</legend>
    {{> player-fieldset }}
    <div class="form-group text-right">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
