<!-- views/players-new.hbs -->
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/teams" method="POST">
                <legend>New Team</legend>
                {{> team-fieldset }}
                <div class="form-group text-right">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
